<!doctype html>
<html lang="en">

<head>
  @@include("partials/head.html", {
  "title": "AIRCRFT"
  })
</head>

<body>

  <!-- MODALS
    ================================================== -->
  @@include("partials/modals.html")
  @@include("partials/modals.html")

  <!-- NAVIGATION
    ================================================== -->
  @@if (navPosition == 'sidenav' || navPosition == 'combo' || demoMode) {
  @@if (sidebarSize == 'base' || demoMode) {
  @@include("partials/sidebar.html", {
  "category": "pages",
  "subcategory": "project",
  "page": "index.html"
  })
  }
  @@if (sidebarSize == 'small' || demoMode) {
  @@include("partials/sidebar-sm.html", {
  "category": "pages",
  "subcategory": "project",
  "page": "index.html"
  })
  }
  }
  @@if (navPosition == 'topnav' || demoMode) {
  @@include("partials/topnav.html", {
  "category": "pages",
  "subcategory": "project",
  "page": "index.html"
  })
  }


  <!-- MAIN CONTENT
    ================================================== -->
  <div class="main-content">

    @@if (navPosition == 'combo' || demoMode) {
    @@include("partials/topbar.html")
    }

    <!-- HEADER -->
    <div class="header">

      <!-- Image -->
      <img src="assets/img/posts/Aircrft-Invite-Letter-Cover-1-1470x348.png" class="header-img-top" alt="...">

      <div
        class="@@if(navPosition=='sidenav'||navPosition=='combo'){container-fluid}@@if(navPosition=='topnav'){container}">

        <!-- Body -->
        <div class="header-body mt-n5 mt-md-n6">
          <div class="row align-items-end">
            <div class="col-auto">

              <!-- Avatar -->
              <div class="avatar avatar-xxl header-avatar-top">
                <img src="assets/img/posts/aircrft-icon.jpg" alt="aircrft-logo"
                  class="avatar-img rounded-circle border border-4 border-body">
              </div>

            </div>
            <div class="col mb-3 ml-n3 ml-md-n2">

              <!-- Pretitle -->
              <h6 class="header-pretitle">
                STARTUPS HELPING STARTUPS
              </h6>

              <!-- Title -->
              <h1 class="header-title">
                The startup network
              </h1>

            </div>
            <div class="col-12 col-md-auto mt-2 mt-md-0 mb-md-3">

              <!-- Button 
                <a href="#!" class="btn btn-primary d-block d-md-inline-block lift">
                  Access aircrft
                </a> -->

              <!-- Button 
                <a href="#!" class="btn btn-primary d-block d-md-inline-block lift">
                  Request aircrft invite
                </a> -->

              @@if (demoMode) {
              <!-- Customize -->
              <a href="#modalAllAccessPass1" class="btn btn-primary d-block d-md-inline-block lift" data-toggle="modal">
                <i class="fe fe-sliders mr-2"></i> All-access pass
              </a>
              }

              <!-- All-access Pass 5.7.2020 Button 
              <a href="#modalAllAccessPass1" class="btn btn-primary d-block d-md-inline-block lift">
                Memberships
              </a> -->

            </div>
          </div> <!-- / .row -->
          <div class="row align-items-center">
            <div class="col">

              <!-- Nav 
                <ul class="nav nav-tabs nav-overflow header-tabs">
                  <li class="nav-item">
                    <a href="profile-posts.html" class="nav-link active">
                      Posts
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="profile-groups.html" class="nav-link">
                      Groups
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="profile-projects.html" class="nav-link">
                      Projects
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="profile-files.html" class="nav-link">
                      Files
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="profile-subscribers.html" class="nav-link">
                      Passengers
                    </a>
                  </li>
                </ul>-->

            </div>
          </div>
        </div> <!-- / .header-body -->

      </div>
    </div>

    <!-- AIRCRFT PLATFORM POST FEED UPDATED 5.17.2020 -->
    <div class="@@if(navPosition=='sidenav'||navPosition=='combo'){container-fluid}@@if(navPosition=='topnav'){container}">
      <div class="row justify-content-center">
        <div class="col-12 col-xl-8">
          
          <!-- AIRCFT platform Post 5.17.2020 | Day 228 -->
          <div class="card">
            <div class="card-body">

              <!-- Header -->
              <div class="mb-3">
                <div class="row align-items-center">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <a href="founder-profile-chai-forest.html" class="avatar">
                      <img src="assets/img/avatars/profiles/avatar-1.jpg" alt="Chai Forest" class="avatar-img rounded-circle">
                    </a>

                  </div>
                  <div class="col ml-n2">

                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      Chai Forest
                    </h4>
                              <!-- Time -->
                    <p class="card-text small text-muted">AIRCRFT Pilot
                      <span class="fe fe-clock"></span> <time datetime="2018-05-24">05 min
                        ago | Day 138/228</time>
                    </p>

                  </div>
                  <div class="col-auto">

                  </div>
                </div> <!-- / .row -->
              </div>

              <!-- Image -->
              <p class="text-center mb-3">
                <img src="assets/img/posts/AIRCRFT-Platform-Post-228.jpeg" alt="aircrft uplift algorithm"
                  class="img-fluid rounded">
              </p>

            </div>
          </div>
          
            <!-- AIRCFT platform Post 5.17.2020 | Day 228 -->
          <div class="card">
            <div class="card-body">

              <!-- Header -->
              <div class="mb-3">
                <div class="row align-items-center">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <a href="founder-profile-chai-forest.html" class="avatar">
                      <img src="assets/img/avatars/profiles/avatar-1.jpg" alt="Chai Forest" class="avatar-img rounded-circle">
                    </a>

                  </div>
                  <div class="col ml-n2">

                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      Chai Forest
                    </h4>
                              <!-- Time -->
                    <p class="card-text small text-muted">AIRCRFT Pilot
                      <span class="fe fe-clock"></span> <time datetime="2018-05-24">05 min
                        ago | Day 138/228</time>
                    </p>

                  </div>
                  <div class="col-auto">

                  </div>
                </div> <!-- / .row -->
              </div>

              <!-- Image -->
              <p class="text-center mb-3">
                <img src="assets/img/posts/AIRCRFT-Platform-Post-228.jpeg" alt="aircrft uplift algorithm"
                  class="img-fluid rounded">
              </p>

            </div>
          </div>
          
          
          <!-- AIRCFT platform Post 5.16.2020 | Day 229 -->
          <div class="card">
            <div class="card-body">

              <!-- Header -->
              <div class="mb-3">
                <div class="row align-items-center">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <a href="founder-profile-chai-forest.html" class="avatar">
                      <img src="assets/img/avatars/profiles/avatar-1.jpg" alt="Chai Forest" class="avatar-img rounded-circle">
                    </a>

                  </div>
                  <div class="col ml-n2">

                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      Chai Forest
                    </h4>

                    <!-- Time -->
                    <p class="card-text small text-muted">AIRCRFT Pilot
                      <span class="fe fe-clock"></span> <time datetime="2018-05-24">45 min
                        ago</time>
                    </p>

                  </div>
                  <div class="col-auto">

                  </div>
                </div> <!-- / .row -->
              </div>

              <!-- Image -->
              <p class="text-center mb-3">
                <img src="assets/img/posts/OverPage-0 7.jpeg" alt="aircrft uplift algorithm"
                  class="img-fluid rounded">
              </p>

            </div>
          </div>

          <!-- AIRCFT platform Post 5.15.2020 | Day 230 -->
          <div class="card">
            <div class="card-body">

              <!-- Header -->
              <div class="mb-3">
                <div class="row align-items-center">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <a href="founder-profile-chai-forest.html" class="avatar">
                      <img src="assets/img/avatars/profiles/avatar-1.jpg" alt="Chai Forest" class="avatar-img rounded-circle">
                    </a>

                  </div>
                  <div class="col ml-n2">

                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      Chai Forest
                    </h4>

                    <!-- Time -->
                    <p class="card-text small text-muted">AIRCRFT Pilot
                      <span class="fe fe-clock"></span> <time datetime="2018-05-24">1 day
                        ago | Day 137/229</time>
                    </p>

                  </div>
                  <div class="col-auto">

                  </div>
                </div> <!-- / .row -->
              </div>

              <!-- Image -->
              <p class="text-center mb-3">
                <img src="assets/img/posts/9B8B9C47-D00F-4E81-9967-44DE51988ECA.jpeg" alt="aircrft uplift algorithm"
                  class="img-fluid rounded">
              </p>

            </div>
          </div>

          <!-- AIRCFT platform Post 5.14.2020 | Day 231 -->
          <div class="card">
            <div class="card-body">
          
              <!-- Header -->
              <div class="mb-3">
                <div class="row align-items-center">
                  <div class="col-auto">
          
                    <!-- Avatar -->
                    <a href="#!" class="avatar">
                      <img src="assets/img/avatars/profiles/avatar-1.jpg" alt="..." class="avatar-img rounded-circle">
                    </a>
          
                  </div>
                  <div class="col ml-n2">
          
                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      Chai Forest
                    </h4>
          
                    <!-- Time -->
                    <p class="card-text small text-muted">
                      <span class="fe fe-clock"></span> <time datetime="2018-05-24">3 hrs
                        ago</time>
                    </p>
          
                  </div>
                  <div class="col-auto">
          
                  </div>
                </div> <!-- / .row -->
              </div>
          
              <!-- Image -->
              <p class="text-center mb-3">
                <img src="assets/img/posts/post-1-aircrft-future-of-deep-work.png" alt="aircrft uplift algorithm"
                  class="img-fluid rounded">
              </p>
          
            </div>
          </div>

          <!-- AIRCFT platform Post 5.13.2020 | Day 232 -->
          <div class="card">
            <div class="card-body">
          
              <!-- Header -->
              <div class="mb-3">
                <div class="row align-items-center">
                  <div class="col-auto">
          
                    <!-- Avatar -->
                    <a href="#!" class="avatar">
                      <img src="assets/img/avatars/profiles/avatar-1.jpg" alt="..." class="avatar-img rounded-circle">
                    </a>
          
                  </div>
                  <div class="col ml-n2">
          
                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      Chai Forest
                    </h4>
          
                    <!-- Time -->
                    <p class="card-text small text-muted">
                      <span class="fe fe-clock"></span> <time datetime="2018-05-24">2 days
                        ago</time>
                    </p>
          
                  </div>
                  <div class="col-auto">
          
                  </div>
                </div> <!-- / .row -->
              </div>
          
              <!-- Image -->
              <p class="text-center mb-3">
                <img src="assets/img/posts/aircrft-platform-post-5-9-2020.png" alt="aircrft rewrite the rules"
                  class="img-fluid rounded">
              </p>
          
            </div>
          </div>

          <!-- AIRCFT platform Post 5.12.2020 | Day 233 -->
          <div class="card">
            <div class="card-body">
          
              <!-- Header -->
              <div class="mb-3">
                <div class="row align-items-center">
                  <div class="col-auto">
          
                    <!-- Avatar -->
                    <a href="#!" class="avatar">
                      <img src="assets/img/avatars/profiles/avatar-1.jpg" alt="..." class="avatar-img rounded-circle">
                    </a>
          
                  </div>
                  <div class="col ml-n2">
          
                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      Chai Forest
                    </h4>
          
                    <!-- Time -->
                    <p class="card-text small text-muted">
                      <span class="fe fe-clock"></span> <time datetime="2018-05-24">3 days
                        ago</time>
                    </p>
          
                  </div>
                  <div class="col-auto">
          
                  </div>
                </div> <!-- / .row -->
              </div>
          
              <!-- Image -->
              <p class="text-center mb-3">
                <img src="assets/img/posts/57B2BF85-2A9D-4F5F-9F9C-CD207B5B9621.jpeg" alt="aircrft graditute post"
                  class="img-fluid rounded">
              </p> 

              <!-- <div class="embed-responsive embed-responsive-1by1">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HHjgK6p4nrw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div> -->
          
            </div>
          </div>

          <!-- AIRCFT platform Post 5.11.2020 | Day 234 -->
          <div class="card">
            <div class="card-body">

              <!-- Header -->
              <div class="mb-3">
                <div class="row align-items-center">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <a href="#!" class="avatar">
                      <img src="assets/img/avatars/profiles/avatar-1.jpg" alt="..." class="avatar-img rounded-circle">
                    </a>

                  </div>
                  <div class="col ml-n2">

                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      Chai Forest
                    </h4>

                    <!-- Time -->
                    <p class="card-text small text-muted">
                      <span class="fe fe-clock"></span> <time datetime="2018-05-24">5 days
                        ago</time>
                    </p>

                  </div>
                  <div class="col-auto">

                  </div>
                </div> <!-- / .row -->
              </div>

              <!-- Image -->
              <p class="text-center mb-3">
                <img src="assets/img/posts/aircrft-platform-post-5-3-2020.png" alt="aircrft uplift algorithm"
                  class="img-fluid rounded">
              </p>

            </div>
          </div>

          <!-- AIRCFT platform Post 5.11.2020 | Day 235 -->
          <div class="card">
            <div class="card-body">

              <!-- Header -->
              <div class="mb-3">
                <div class="row align-items-center">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <a href="#!" class="avatar">
                      <img src="assets/img/avatars/profiles/avatar-1.jpg" alt="Chai Forest"
                        class="avatar-img rounded-circle">
                    </a>

                  </div>
                  <div class="col ml-n2">

                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      Chai Forest
                    </h4>

                    <!-- Time -->
                    <p class="card-text small text-muted">
                      <span class="fe fe-clock"></span> <time datetime="2018-05-24">6 days
                        ago</time>
                    </p>

                  </div>
                  <div class="col-auto">

                  </div>
                </div> <!-- / .row -->
              </div>

              <!-- Image -->
              <p class="text-center mb-3">
                <img src="assets/img/posts/aircrft-post-uplift-algorithm-cropped.jpeg" alt="aircrft logo"
                  class="img-fluid rounded">
              </p>
              <!-- Text 
                <p class="mb-3">
                    Hi, I'm Chai Forest with aircrft. <br>
                    <br> -->
              TThe aircrft uplift algorithm is a consistent, meaningful, and measurable way to put a
              feather in your cap by paying
              forward your time, talent, energy and/or resources to uplift other founders and startups in
              the network.
              <br>
              <br>
              The aircrft uplift algorithm is a consistent, meaningful, and measurable way to put a
              feather in your cap by paying
              forward your time, talent, energy and/or resources to uplift other founders and startups in
              the network.
              <br>
              <br>
              Onward and Up! - Chai Forest
              </p>
              </p>

              <!-- Image 
              <p class="text-center mb-3">
                <img src="assets/img/posts/aircrft-post-uplift-algorithm-cropped.jpeg" alt="aircrft logo"
                  class="img-fluid rounded">
              </p> -->

            </div>
          </div>


        </div>
      </div>

    </div>


  </div>
  </div> <!-- / .row -->
  </div>
  </div> <!-- / .main-content -->

  <!-- JAVASCRIPT
    ================================================== -->
  @@include("partials/scripts.html")

</body>

</html>
